@font-face {
  font-family: "iconfont"; /* Project id 3153538 */
  src: url('//at.alicdn.com/t/font_3153538_dahlgmn91c.woff2?t=1642660790279') format('woff2'),
       url('//at.alicdn.com/t/font_3153538_dahlgmn91c.woff?t=1642660790279') format('woff'),
       url('//at.alicdn.com/t/font_3153538_dahlgmn91c.ttf?t=1642660790279') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoqian:before {
  content: "\e62b";
}

.icon-shijianzhou:before {
  content: "\e69a";
}

.icon-shouye:before {
  content: "\e60c";
}

